<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Labels</key>
	<string>{\bf Position in authors list}
{\bf Number of publications}
Histogram of Position
{\bf Author statistics}
As first author: {\bf 25}
As last (senior) author: {\bf 32}
Student/postdoc as first author: {\bf 19}
Student/postdoc as co-author: {\bf 29}
</string>
	<key>Text</key>
	<string></string>
</dict>
</plist>
